<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Welcome to my shop</h3>
    <a href="add/">Add Item to Cart</a> 
    <a href="display/">Display the Cart</a>
    <footer style="margin:auto; align-self:center;"><p>Hello, {{request.session.count}} people have visited this website</p></footer>
</body>
</html>